{% extends 'baseformat.html' %}

{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

{% block content %}



<div style="text-align: center; color : white;">
<h2 class="h1-responsive font-weight-bold my-5">Our Amazing Team<br>&<br>Mentor</h2>

<div style="text-align: center; margin-top: 100px;">
<img src="{% static 'IMG20200803190258-01.jpeg' %}" class="rounded-circle z-depth-1">
<br></br>
<h4 style=""><b>Lokesh Kolte</b></h4>
<h5 style="">Full-Stack Developer</h5>
<a href="#">
<img src={% static 'LI.png' %} alt="LinkedIn" style="width:35px;">
</a>
<p>A 3rd year computer engineering student.<br>Having skills of web-dev, python, mysql.</p>
<div>





<div style="text-align: center; margin-top: 100px;">
<img src="{% static 'IMG20200803190258-01.jpeg' %}" class="rounded-circle z-depth-1">
<br></br>
<h4><b>Lokesh Kolte</b></h4>
<h5>Full-Stack Developer</h5>
<a href="#">
<img src={% static 'LI.png' %} alt="LinkedIn" style="width:35px;">
</a>
<p>A 3rd year computer engineering student.<br>Having skills of web-dev, python, mysql.</p>
<div>


<div style="text-align: center; margin-top: 100px;">
<img src="{% static 'IMG20200803190258-01.jpeg' %}" class="rounded-circle z-depth-1">
<br></br>
<h4><b>Lokesh Kolte</b></h4>
<h5>Full-Stack Developer</h5>
<a href="#">
<img src={% static 'LI.png' %} alt="LinkedIn" style="width:35px;">
</a>
<p>A 3rd year computer engineering student.<br>Having skills of web-dev, python, mysql.</p>
</div>




<div style="text-align: center; margin-top: 100px; margin-top: 100px;">
<h2 class="h1-responsive font-weight-bold my-5" style="">Mentor</h2>
<img src="{% static 'IMG20200803190258-01.jpeg' %}" class="rounded-circle z-depth-1">
<br></br>
<h4><b>Lokesh Kolte</b></h4>
<h5>Full-Stack Developer</h5>
<a href="#">
<img src={% static 'LI.png' %} alt="LinkedIn" style="width:35px;">
</a>
<p>A 3rd year computer engineering student.<br>Having skills of web-dev, python, mysql.</p>
</div>

</div>
  



 <!-- Site footer -->
    <footer class="site-footer" style="background-color:#26272b;
    margin-top: 50px;
  padding:10px 0 20px;
  font-size:15px;
  line-height:35px;
  color:#737373;">
      <div>
      <div class="row">
      <div class="column" style="margin-left: 10%;">
<img src="{% static 'applogo.png' %}" width="240" class="rounded-circle z-depth-1" alt="Match Winner Predictor Logo">
</div>
        
        <div class="column" style="margin-left: 10%;">
        <h6>About</h6>
        <p>akjsfskfsf skjfskfs ksfjsfkskf skfnskfskfs<br>fksfnskjnfsk fksfjskfssk sdjfsdsd fjsfsfsfns<br>fsfnsfsnfj sjfsfsfs knsdkfksdf sjdfskdfskf skjfskfsk<br>ksjfsknfks fks fskfjs kfjsf s sjf<p>
        <p class="copyright-text" style="margin-top: 30px;">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
        </div>

        <div class="column" style="float: right; margin-right: 5%;">
        <h6>Framework and Languages Used :</h6>
        <ul>
          <li>abc</li>
          <li>abc</li>
          <li>abc</li>
        </ul>
        </div>
        </div>
      </div>
</footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  
  {% endblock content %} 
  
  </body>



</html>
