{% extends 'baseformat.html' %}
{% load static %}



{% block content %}



<div class="container" style="margin-top : 0.3in;" >
    <div class="row">
    
        <div class="col col-md-3.3">
        <div class="card-header" >
        <h4><b>Team Member</b></h4>
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'bg.jpg' %}" alt="Card image cap">
                <div class="row">
                <div class="col col-md-3.3">
                <h3 style="margin-left: 10px; margin-top: 5px;"><b>Lokesh Kolte</b></h3>
                </div>    
                <div class="col col-md-4">
                <a href="https://www.linkedin.com" target="_blank" >
                  <img border="0" alt="Lokesh's LinkedIn" src="{% static 'LI.png' %}" width="40cm" style="margin-top: 5px;">
                </a>
                </div>
                <p class="card-body" >Student at Sinhgad Academy of Engineering, Pune</p>
                </div>
            </div> 
        </div>
    </div>


        <div class="col col-md-3.3">
            <div class="card-header" >
        <h4><b>Team Member</b></h4>
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'bg.jpg' %}" alt="Card image cap">
                <div class="row">
                <div class="col col-md-3.3">
                <h3 style="margin-left: 10px; margin-top: 5px;"><b>Sudity Khushi</b></h3>
                </div>    
                <div class="col col-md-4">
                <a href="https://www.linkedin.com" target="_blank" >
                  <img border="0" alt="Lokesh's LinkedIn" src="{% static 'LI.png' %}" width="40cm" style="margin-top: 5px;">
                </a>
                </div>
                <p class="card-body" >Student at Sinhgad Academy of Engineering, Pune</p>
                </div>
            </div> 
        </div>
        </div>



            <div class="col col-md-3.3">
            <div class="card-header" >
        <h4><b>Team Member</b></h4>
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'bg.jpg' %}" alt="Card image cap">
                <div class="row">
                <div class="col col-md-3.3">
                <h3 style="margin-left: 10px; margin-top: 5px;"><b>Rohit Mahajan</b></h3>
                </div>    
                <div class="col col-md-3">
                <a href="https://www.linkedin.com" target="_blank" >
                  <img border="0" alt="Lokesh's LinkedIn" src="{% static 'LI.png' %}" width="40cm" style="margin-top: 5px;">
                </a>
                </div>
                <p class="card-body" >Student at Sinhgad Academy of Engineering, Pune</p>
                </div>
            </div> 
        </div>
        </div>
        </div>
    </div>
</div>

    
{% endblock content %}
